<!DOCTYPE html>
<html>
  <head>
    <title><%=setting[1].value%> 꿈담이</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/content.css">
    <link id="dark-mode-sheet"
          rel="stylesheet"
          href="assets/css/dark.css"
          media="(prefers-color-scheme: dark)">
    <script src="assets/js/dark.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.js"></script>
    <script src="pace/pace.js"></script> 
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script> 
        var teachers = [], programs=[], sessioninfo=[], sessions = [], curPage, groups=[], prog_groups=[];
        
        //isEmpty: 변수 값 존재 여부 확인
        var isEmpty = function(value){ 
            if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ) return true;
            else return false;
        };
        const darkModeMeidaQuery = window.matchMedia('(prefers-color-scheme: dark)');
        function updateForDarkModeChange() {
          if (darkModeMeidaQuery.matches) {
            document.querySelector('#csslink').setAttribute('href', 'https://unpkg.com/onsenui/css/dark-onsen-css-components.min.css');
          } 
        }

        darkModeMeidaQuery.addListener(updateForDarkModeChange);
        
        //메뉴
        window.fn = {};
        window.fn.open = function() {
          var menu = document.getElementById('menu');
          menu.open();
        };
        
        window.fn.load = function(page) {
          var content = document.getElementById('content');
          var menu = document.getElementById('menu');
          content.load(page)
            .then(menu.close.bind(menu)); 
        };
        
        function loadPage() {
          var card_title, card_teacher, card_place, card_period, card_btn;
          for(var i=0; i<sessioninfo[curPage.split('_')[1]].batches; i++) {
            console.log(sessioninfo[curPage.split('_')[1]].batches);
            card_title = document.querySelector('#card_' + curPage.split('_')[1] + '_' + (i+1) + ' .title');
            card_teacher = document.querySelector('#card_' + curPage.split('_')[1] + '_' + (i+1) + ' .teacher');
            card_place = document.querySelector('#card_' + curPage.split('_')[1] + '_' + (i+1) + ' .place');  
            card_btn = document.querySelector('#card_' + curPage.split('_')[1] + '_' + (i+1) + ' .btn_apply');
            console.log('d' + curPage.split('_')[1]  + ', ' +  i+1);
            card_btn.setAttribute('onClick', 'open_apply(' + curPage.split('_')[1] + ', ' + (i+1) + ')');
            card_btn.innerHTML = "프로그램 선택";
            card_btn.setAttribute('style', 'color: white');
            card_title.innerHTML = (i+1) + '기. 수강신청이 필요해요';
            card_teacher.innerHTML = "<div class='center list-item__center'></div>";
            card_place.innerHTML = "<div class='center list-item__center'></div>";
          }
          $.ajax({
            url: "/get_application",
            type: "post",
            data: {
              class:curPage.split('_')[1]
            }
          }).done(function(results) {
            console.log(results);
            for(var i=0; i<results.length; i++) {
              card_title = document.querySelector('#card_' + curPage.split('_')[1] + '_' + sessions[results[i].which].batch + ' .title');
              card_teacher = document.querySelector('#card_' + curPage.split('_')[1] + '_' + sessions[results[i].which].batch + ' .teacher');
              card_place = document.querySelector('#card_' + curPage.split('_')[1] + '_' + sessions[results[i].which].batch + ' .place');  
              card_btn = document.querySelector('#card_' + curPage.split('_')[1] + '_' + sessions[results[i].which].batch + ' .btn_apply');
              card_btn.setAttribute('onClick', 'cancel(' + results[i].id + ')');
              card_btn.innerHTML = "신청 취소";
              card_btn.setAttribute('style', 'background-color: red; color: white');
              card_title.innerHTML = sessions[results[i].which].batch + '기. ' + programs[sessions[results[i].which].program].name;
              card_teacher.innerHTML = "<div class='center list-item__center'>" + teachers[programs[sessions[results[i].which].program].teacher].name + "</div>";
              card_place.innerHTML = "<div class='center list-item__center'>" + programs[sessions[results[i].which].program].place + "</div>";
            }  
          });
        }
        function cancel(id) {
          ons
          .notification.confirm({message: '정말로 신청을 취소할까요?'})
          .then(function(value) {
            if(value == 1) {
              $.ajax({
                url: "/cancel",
                type: "post",
                data : {
                  id: id
                }
              }).done(function(results) {
                ons.notification.toast('신청을 성공적으로 취소했어요. ' , { timeout: 2000 });
                loadPage();
              });
            }0
          });
        }
        function apply(id, session) {
          ons
          .notification.confirm({message: '정말로 이 프로그램으로 신청할까요?'})
          .then(function(value) {
            if(value == 1) {
              $.ajax({
                url: "/apply",
                type: "post",
                data : {
                  which: id,
                  session:session
                }
              }).done(function(results) {
                if(results == '200') {
                  ons.notification.toast('신청을 성공적으로 완료했어요. ' , { timeout: 2000 });
                } else if (results == '300') {
                  
                  ons.notification.alert('정원초과로 신청이 마감된 프로그램입니다.');
                }
                document.querySelector('#navigator_' + session).popPage();
                loadPage();
              });
            }
          });
          
        }
        window.onload = function () {
          updateForDarkModeChange();
          $.ajax({
            url: "/get_teachers",
            type: "post"
          }).done(function(results) {
            for(var i=0; i<results.length; i++) {
              teachers[results[i].id] = results[i];
            }
          });
          $.ajax({
            url: "/get_programinfo",
            type: "post"
          }).done(function(results) {
            for(var i=0; i<results.length; i++) {
              programs[results[i].id] = results[i];
            }
          });
          $.ajax({
            url: "/get_sessioninfo",
            type: "post"
          }).done(function(results) {
            for(var i=0; i<results.length; i++) {
              sessioninfo[results[i].id] = results[i];
            }
          });
          $.ajax({
            url: "/get_sessions",
            type: "post"
          }).done(function(results) {
            for(var i=0; i<results.length; i++) {
              sessions[results[i].id] = results[i];
            }
          });
          $.ajax({
            url: "/get_groups",
            type: "post"
          }).done(function(results) {
            for(var i=0; i<results.length; i++) {
              groups[results[i].id] = results[i];
            }
          });
          $.ajax({
            url: "/get_programgroups",
            type: "post"
          }).done(function(results) {
            for(var i=0; i<results.length; i++) {
              prog_groups[results[i].id] = results[i];
            }
          });
        }
        
        function open_apply(sess, batch) {
          document.querySelector('#navigator_' + sess).pushPage('page_apply.html', {data: {session: sess, batch:batch}});
        }
        
        document.addEventListener('init', function(event) {
            Pace.restart();
            var page = event.target;
            if (page.id.indexOf('menu_') !== -1 && page.id !="menu_home") {
              curPage = page.id;
              loadPage();
            }  else if (page.id == 'page_apply') {
              var content;
              $.ajax({
                url: "/get_programs",
                type: "post",
                data: {
                  session: page.data.session,
                  batch: page.data.batch
                }
              }).done(function(results) {
                console.log(results);
                $('#list_programs').append("<ons-list-heder id='toolbar_apply' class='list-header'>" + prog_groups[results[0].group].name + "</ons-list-heder>");
                for(var i=0; i<results.length; i++) {     
                  if(i>0 && results[i].group != results[i-1].group) $('#list_programs').append("<ons-list-heder id='toolbar_apply' class='list-header'>" + prog_groups[results[i].group].name + "</ons-list-heder>");
                  content = "<ons-list-item onClick='apply(" + results[i].id + ', ' + page.data.session + ")' class='list-item' tappable><div class='center'> <span class='list-item__title'>" + programs[results[i].program].name + "</span><span class='list-item__subtitle'>"+ teachers[programs[results[i].program].teacher].name +"</span> </div> <div class='right'>" + results[i].cur + "/" + results[i].max +"</div> </ons-list-item>"; //중단점a
                  $('#list_programs').append(content);
                }
                page.querySelector('ons-toolbar .center').innerHTML = sessioninfo[page.data.session].name + " " + page.data.batch + "기";
              });
            }
        });
        
    </script>
      
    <!--CDN-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link id="csslink" rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean" rel="stylesheet">
    <script src="/assets/onsenui.min.js"></script>
    
    <style>
        .page {
            font-family: "Noto Sans KR", sans-serif;
        }
        .title {
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 500;
        }
    </style>
  </head>
  <body> 
      
    <!--Sidemenu-->
    <ons-splitter>
        <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
            <ons-page>
                <ons-list>
                    <ons-list-item onclick="fn.load('navigate_container_home.html')" tappable>신청자 정보</ons-list-item>
                    <% for(var i=0; i<sessinfo.length; i++) {%>
                      <ons-list-item onclick="fn.load('navigate_container_<%=sessinfo[i].id%>.html')" tappable><%=sessinfo[i].name%></ons-list-item>
                    <%}%>
                    <ons-list-item onClick="show_page_apply()" tappable>SHOW</ons-list-item>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="navigate_container_home.html"></ons-splitter-content>
    </ons-splitter>
      
    <!--Sidemenu - Naviagtor Container Bridge-->
    <template id="navigate_container_home.html">
        <ons-page id="navigate_container_home">
            <ons-navigator animation="lift" id="navigator_home" page="menu_home.html"></ons-navigator>         
        </ons-page>
    </template>
     <% for(var i=0; i<sessinfo.length; i++) {%>
      <template id="navigate_container_<%=sessinfo[i].id%>.html">
        <ons-page id="navigate_container_<%=sessinfo[i].id%>">
          <ons-navigator animation="lift" id="navigator_<%=sessinfo[i].id%>" page="menu_<%=sessinfo[i].id%>.html"></ons-navigator>         
        </ons-page>
      </template>
     <%}%>
  <!--Home-->
    <template id="menu_home.html">
        <ons-page id="menu_home">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button onclick="fn.open()">
                    <ons-icon icon="md-menu"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">구름중학교 꿈담이</div>
            </ons-toolbar>
            <ons-card>
                <div class="title">환영합니다.</div>
                <div class="content">
                <ons-list>
                    <ons-list-header>신청자명</ons-list-header>
                    <ons-list-item>테스트</ons-list-item>
                    <ons-list-header>학번</ons-list-header>
                    <ons-list-item>1501</ons-list-item>
                </ons-list>
                </div>
            </ons-card>
        </ons-page>
    </template>
    
    <% for(var i=0; i<sessinfo.length; i++) {%>
  <template id="menu_<%=sessinfo[i].id%>.html">
    <ons-page id="menu_<%=sessinfo[i].id%>">
       <ons-toolbar>
         <div class="left">
            <ons-toolbar-button onclick="fn.open()">
            <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
         </div>
         <div class="center">
           <%=sessinfo[i].name%>
         </div>
      </ons-toolbar>      
      <% for(var j=0; j<sessinfo[i].batches; j++) {%>
        <ons-card id="card_<%=sessinfo[i].id%>_<%=j+1%>">
            <div class="title">

            </div>
            <div class="content">
              <ons-list>
                <ons-list-header>지도교사</ons-list-header>
                <ons-list-item class="teacher"></ons-list-item>
                <ons-list-header>교육장소</ons-list-header>
                <ons-list-item class="place"></ons-list-item>
                <ons-list-header>교육기간</ons-list-header>
                <ons-list-item class="period"><%=period[sessinfo[i].id][j+1]%></ons-list-item>
              </ons-list>
            </div> <br>
            <ons-button class="btn_apply"  modifier="large" onClick="open_apply(<%=sessinfo[i].id%>, <%=j+1%>)">프로그램 선택</ons-button>
        </ons-card>
    <%}%>
    </ons-page>
    </template>
    <%}%>
    
    <!--Applicaiton Page-->
    <template id="page_apply.html">
        <ons-page id="page_apply">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
				
                <div id="toolbar_apply" class="center">이부분을 자동으로 생성되게 해볼게요.</div>
            </ons-toolbar>
            <ons-list id="list_programs"/>
        </ons-page>
    </template>
            
  </body>
</html>