
    <section class="content-header">
      <h1>
        주제선택프로그램
        <small>수강과정 정보</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i> 새 수강과정</a></li>


      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">기본 정보</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <form role="form">
            <!-- text input -->
            <div class="form-group">
              <label>수강과정명</label>
              <input type="text" class="form-control" placeholder="예술체육프로그램" value="<%=course[0].name%>">
              <br>
              <label>수강과정 아이디</label>
              <input type="text" class="form-control" placeholder="artsport" value="<%=course[0].class%>">
            </div>
            <div class="form-group">
                <label>기수 개수</label>
                <select class="form-control" disabled>
                  <option><%=course[0].batches%>개 기수</option>
                </select>
              </div>
          </form>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">저장</button>
        </div>
        <!-- /.box-body -->
      </div>
      <%for(i=0; i<course[0].batches; i++) {%>
      <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title"><%=i+1%>기 정보</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body batch<%=i+1%>">
            <form role="form">
              <!-- text input -->
              <div class="form-group">
                <label>운영 기간:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-right period" value="<%=period[1][i+1]%>">
                </div>
                <!-- /.input group -->
              </div>
              <div class="form-group">
                  <label>프로그램</label>
                  <select class="form-control select2 programlist" multiple="multiple" data-placeholder="프로그램 선택" style="width: 100%;">
                    <%for(var j=0; j<program.length; j++) {%>
                      <option class="program<%=program[j].id%>" value="<%=program[j].id%>"><%=program[j].name%></option>
                    <%}%>
                  </select>
                </div>
            </form>
            <table  class="table table-bordered table-hover" style="text-align: center">
              <thead>
              <tr >
                <th style="width: 15%">프로그램명</th>
                <th>최대신청인원</th>
              </tr>
              </thead>
              <tbody id="table<%=i+1%>">

              </tbody>
           </table>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" onClick="editCourseApply(<%=i+1%>)">저장</button>
          </div>
          <!-- /.box-body -->
        </div>
      <%}%>
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">조건 설정</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <form role="form">
            <!-- text input -->
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <%if(course[0].grouprestrict == 1) { %>
                    <input type="checkbox" checked> 다른 기수에서 수강신청한 프로그램과 같은 프로그램 그룹에 속한 프로그램 신청 불가
                  <% } else {%>
                    <input type="checkbox"> 다른 기수에서 수강신청한 프로그램과 같은 프로그램 그룹에 속한 프로그램 신청 불가
                  <% } %>
                  
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%if(course[0].programrestrict == 1) { %>
                    <input type="checkbox" checked> 다른 기수에서 수강신청한 프로그램과 같은 프로그램 신청 불가
                  <% } else {%>
                    <input type="checkbox"> 다른 기수에서 수강신청한 프로그램과 같은 프로그램 신청 불가
                  <% } %>
                </label>
              </div>

            </div>

          </form>
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary">저장</button>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
  
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
  //Date range picker
  <%for(i=0; i<course[0].batches; i++) {%>
    $('.batch<%=i+1%> .period').daterangepicker()
  <%}%>
    
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, locale: { format: 'MM/DD/YYYY hh:mm A' }})
    $('.select2').select2()
    //Date range as a button
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })
    
</script>

